
<div>
    	<div class="box">
              <h1>This is akward...</h1>
              <br/>
              <p>This page is used as a backend testing page and is mean't to provide a quick way to 
                load new ideas for the site.  It was accidentally left open for you to access and we are
                working on closing all these little gaps.  Feel free to check out the rest of the site,
                and feel free to take 20% off of your purchase for finding yourself at this page.</p>
              <p>
                <a href="/pages/Three-tier-order-form">Check out our boxes</a>
                <br/>
                Discount Code: <b>cavefriend</b>
              </p>
          <br/>
          <p>Stay fresh,
            <br/>Team Cavebox
          </p>
              

  </div> <!-- end box -->    
  
    
</div> <!-- end collection -->
      
  
